.balance {
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .balance_description {
    font-size: 0.9rem;
    font-weight: 500;
    color: #999;
    margin-bottom: 8px;
    margin-top: 0;
  }

  .balance_title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
  }
}