.card {
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
    height: 100%;

    h4 {
        margin-top: 0;
        margin-bottom: 20px;
    }
}

.transactions-area {
    max-height: 250px;
    overflow-y: auto;
}

.transaction-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    padding: 0 10px;
}

.transaction-area__infos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-area__description {
    display: block;
    margin-left: 12px;

    p {
        margin: 0;
        font-size: medium;
    }

    span {
        color: #808191;
        font-size: smaller;
    }
}